name: Deploy via FTP

on:
    push:
        branches: ["main"]
    workflow_dispatch: {}

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: FTP Deploy
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: ${{ secrets.FTP_SERVER }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  protocol: ftps-implicit # <— WICHTIG: implizites FTPS
                  port: 990 # <— WICHTIG: Port 990
                  server-dir: / # ggf. /httpdocs/ o.ä.
                  exclude: |
                      **/.git*
                      **/.github/**
                      .config/private.php
                      googleb6a791f4d5d7fcc6.html
                      **/*.md
                      **/*.MD
                      **/*.markdown
                  dangerous-clean-slate: false
                  log-level: verbose # mehr Debug-Infos
                  # dry-run: true           # optional: erst testen, was passieren würde
